{% extends "home/clubs_list_base.html" %}

{% block extrahead %}
{% endblock %}

{% block title %}{{ club.name }} - CollegeDiveIn{% endblock %}

{% block page-heading %} {{ club.name }} <small>({{ club.college }})</small>{% endblock %}

{% block content %}
<div class="row">
    <div class="span7 hero-unit">
        <div class="row">
            <div class="span5">

    <ul id="detail-ul" class="unstyled pull-left lead">
        <li><b>Type:</b> {{ club.club_type }}</li>
        <li><b>College:</b> {{ club.college }}</li>
        <li><b>Established:</b> {{ club.estd }}</li>
        <li><b>Membership:</b> {{club.membership }}</li>
        <li><b>Info:</b> {{ club.about }}</li>
        <li><a href="{{club.website }}">Website/Facebook Page</a></li>
    </ul>

            </div>
            <div class="span2 pull-right">
                <img class="img-polaroid" height="100" width="150" src="{{ club.thumbnail }}" alt="{{ club.name }} - CollegeDiveIn" />
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container">

</div>
{% endblock %}
