{% extends "home/clubs_list_base.html" %}

{% block extrahead %}
{% endblock %}

{% block title %}College Clubs - CollegeDiveIn{% endblock %}

{% block page-heading %}College Clubs in India{% endblock %}

{% block content %} 
    {% for club in club_list %}
    <br />
    <div class="subhero-unit">
        <h2>{{ club.name }}</h2><hr />
        <div class="row">
            <div class="span3">
                <img class="pull-left img-polaroid" height="100" width="150" src="{{ club.thumbnail }}" alt="{{ club.name }}" />
            </div>
            <div class="span5">
            <ul class="unstyled">
                <li>Type: {{ club.club_type }}</li>
                <li>College: {{ club.college }}</li>
                <li>Membership: {{club.membership }}</li>
                <li><a href="{{club.website }}">Website/Facebook Page</a></li>
            </ul>
            <a href="#" class="pull-right btn btn-primary">More...</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <br />
    <div class="pager pagination-centered row">
        <ul>
            <li>
        <span class="previous">
        {% if club_list.has_previous %}
        <a href="?page={{ club_list.previous_page_number }}">Previous</a>
        {% endif %}
    </span></li>
    <li>       <span class="current lead">
        Page {{ club_list.number }} of {{ club_list.paginator.num_pages }}
        </span></li>
        <li>
        <span class="next">
        {% if club_list.has_next %}
        <a href="?page={{ club_list.next_page_number }}">Next</a>
        {% endif %}
        </span></li>
    </div>
    <br />

{% endblock %}
