{% extends "base.html" %}

{% load tags %}

{% block container-content %}
<div class="row">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                           <li class="{% active request "^/colleges/popular/" %}"><a href="{{ HOST }}/colleges/popular/">Popular colleges</a></li>
                           <li class="{% active request "^/colleges/all/" %}"><a href="{{ HOST }}/colleges/all/">All</a></li>
                           <li class="nav-header">Get Colleges by Region:</li>
                           <li class="{% active request "^/colleges/region/1/" %}"><a href="{{ HOST }}/colleges/region/1/">North</a></li>
                           <li class="{% active request "^/colleges/region/2/" %}"><a href="{{ HOST }}/colleges/region/2/">East</a></li>
                           <li class="{% active request "^/colleges/region/3/" %}"><a href="{{ HOST }}/colleges/region/3/">West</a></li>
                           <li class="{% active request "^/colleges/region/4/" %}"><a href="{{ HOST }}/colleges/region/4/">Central</a></li>
                           <li class="{% active request "^/colleges/region/5/" %}"><a href="{{ HOST }}/colleges/region/5/">South</a></li>
                           <li class="nav-header">Get Colleges by Type:</li>
                           <li class="{% active request "^/colleges/type/1/" %}"><a href="{{ HOST }}/colleges/type/1">Arts/Commerce/Science</a></li>
                           <li class="{% active request "^/colleges/type/2/" %}"><a href="{{ HOST }}/colleges/type/2">Engineering</a></li>
                           <li class="{% active request "^/colleges/type/3/" %}"><a href="{{ HOST }}/colleges/type/3">Management</a></li>
                           <li class="{% active request "^/colleges/type/4/" %}"><a href="{{ HOST }}/colleges/type/4">Law</a></li>
                           <li class="{% active request "^/colleges/type/5/" %}"><a href="{{ HOST }}/colleges/type/5">Medical/Dental</a></li>
                           <li class="{% active request "^/colleges/type/7/" %}"><a href="{{ HOST }}/colleges/type/7">Others</a></li>
                           <li class="nav-header">Misc:</li>
                           <li class="{% active request "^/about/$" %}"><a href="{{ HOST }}/about/">About</a></li>
                           <li class="{% active request "^/team/" %}"><a href="{{ HOST }}/team/">Team</a></li>
                           <li class="{% active request "^/contact/" %}"><a href="{{ HOST }}/contact/">Contact</a></li>
                        </ul>
                    </div>
                    <hr />
                    {% include "social.html" %}
                </div>
                <div class="span9">
                {% block content %}{% endblock %}
                </div>
            </div>
{% endblock %}
