{% extends "base.html" %}

{% load tags %}

{% block container-content %}
<div class="row">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="{% active request "^/colleges/popular/" %}"><a href="{{ HOST }}/colleges/popular/">Popular colleges</a></li>
                            <li class="{% active request "^/colleges/all/" %}"><a href="{{ HOST }}/colleges/all/">All</a></li>
                            <li class="nav-header">Get Colleges by:</li>
                        </ul>

                            <div id="sidebar-menu" class="accordion">
                                <div class="accordian-group">
                                    <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-menu" href="#region">Region<i class="icon-chevron-down pull-right"></i></a>
                                    </div>
                                    <div id="region" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <ul class="nav nav-list">
                                                <li class="{% active request "^/colleges/region/1/" %}"><a href="{{ HOST }}/colleges/region/1/">North</a></li>
                                                <li class="{% active request "^/colleges/region/2/" %}"><a href="{{ HOST }}/colleges/region/2/">East</a></li>
                                                <li class="{% active request "^/colleges/region/3/" %}"><a href="{{ HOST }}/colleges/region/3/">West</a></li>
                                                <li class="{% active request "^/colleges/region/4/" %}"><a href="{{ HOST }}/colleges/region/4/">Central</a></li>
                                                <li class="{% active request "^/colleges/region/5/" %}"><a href="{{ HOST }}/colleges/region/5/">South</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordian-group">
                                    <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar-menu" href="#type">Type<i class="icon-chevron-down pull-right"></i></a>
                                    </div>
                                    <div id="type" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <ul class="nav nav-list">
                                                <li class="{% active request "^/colleges/type/1/" %}"><a href="{{ HOST }}/colleges/type/1">Arts/Commerce/Science</a></li>
                                                <li class="{% active request "^/colleges/type/2/" %}"><a href="{{ HOST }}/colleges/type/2">Engineering</a></li>
                                                <li class="{% active request "^/colleges/type/3/" %}"><a href="{{ HOST }}/colleges/type/3">Management</a></li>
                                                <li class="{% active request "^/colleges/type/4/" %}"><a href="{{ HOST }}/colleges/type/4">Law</a></li>
                                                <li class="{% active request "^/colleges/type/5/" %}"><a href="{{ HOST }}/colleges/type/5">Medical/Dental</a></li>
                                                <li class="{% active request "^/colleges/type/7/" %}"><a href="{{ HOST }}/colleges/type/7">Others</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <ul class="nav nav-list">
                            <li class="nav-header">Misc:</li>
                            <li class="{% active request "^/about/$" %}"><a href="{{ HOST }}/about/">About</a></li>
                            <li class="{% active request "^/team/" %}"><a href="{{ HOST }}/team/">Team</a></li>
                            <li class="{% active request "^/contact/" %}"><a href="{{ HOST }}/contact/">Contact</a></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="row" id="social">
                        <div class="span3"><a href="http://facebook.com/collegedivein"><img src="{{ STATIC_URL }}img/facebook.png" alt="CDI facebook page" /> </a>
                        <a href="http://blog.collegedive.in"><img src="{{ STATIC_URL }}img/blogger.png" alt="CDI blog" /> </a>
                        <a href="http://twitter.com/codestersgroup"><img src="{{ STATIC_URL }}img/twitter.png" alt="CDI twitter" /> </a>
                        <a href="{{ HOST }}"><img src="{{ STATIC_URL }}img/googleplus.png" alt="CDI google plus" /> </a>
                        <a href="mailto:cdi@codesters.org"> <img src="{{ STATIC_URL }}img/mail.png" alt="CDI mail" /></a></div>
                    </div>
                    <hr />
                </div>
                <div class="span9">
                {% block content %}{% endblock %}
                </div>
            </div>
{% endblock %}
