{% extends "base.html" %}

{% load tags %}

{% block container-content %}
<div class="row">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="{% active request "^/events/coming/" %}"><a href="{{ HOST }}/events/coming/">Coming Events</a></li>
                            <li class="{% active request "^/events/popular/" %}"><a href="{{ HOST }}/events/popular/">Popular events</a></li>
                            <li class="nav-header">Get Events by Region:</li>
                            <li class="{% active request "^/events/region/1/$" %}"><a href="{{ HOST }}/events/region/1/">North</a></li>
                            <li class="{% active request "^/events/region/2/$" %}"><a href="{{ HOST }}/events/region/2/">East</a></li>
                            <li class="{% active request "^/events/region/3/$" %}"><a href="{{ HOST }}/events/region/3/">West</a></li>
                            <li class="{% active request "^/events/region/4/$" %}"><a href="{{ HOST }}/events/region/4/">Central</a></li>
                            <li class="{% active request "^/events/region/5/$" %}"><a href="{{ HOST }}/events/region/5/">South</a></li>
                            <li class="nav-header">Get Events by Type:</li>
                            <li class="{% active request "^/events/type/1/$" %}"><a href="{{ HOST }}/events/type/1">Academics</a></li>
                            <li class="{% active request "^/events/type/2/$" %}"><a href="{{ HOST }}/events/type/2">Seminar/Workshop</a></li>
                            <li class="{% active request "^/events/type/3/$" %}"><a href="{{ HOST }}/events/type/3">Party</a></a></li>
                            <li class="{% active request "^/events/type/4/$" %}"><a href="{{ HOST }}/events/type/4">Festival</a></li>
                            <li class="{% active request "^/events/type/5/$" %}"><a href="{{ HOST }}/events/type/5">Conference</a></li>
                            <li class="{% active request "^/events/type/6/$" %}"><a href="{{ HOST }}/events/type/6">Competition</a></li>
                            <li class="{% active request "^/events/type/7/$" %}"><a href="{{ HOST }}/events/type/7">Other</a></li>
                            <li class="nav-header">Get Events by Campus:</li>
                            {% for college in COLLEGES %}
                              <li class="{% active request "^/events/campus/{{ college.id }}/$" %}"><a href="{{ HOST }}/events/campus/{{ college.id }}/">{{ college.name }}</a></li>
                            {% endfor %}
                            <li class="nav-header">Misc:</li>
                            <li class="{% active request "^/about/$" %}"><a href="{{ HOST }}/about/">About</a></li>
                            <li class="{% active request "^/team/" %}"><a href="{{ HOST }}/team/">Team</a></li>
                            <li class="{% active request "^/contact/" %}"><a href="{{ HOST }}/contact/">Contact</a></li>
                        </ul>
                    </div>
                    <hr />
                    {% include "social.html" %}
                </div>
                <div class="span9">
                {% block content %}{% endblock %}
                </div>
            </div>
{% endblock %}

{% block footer %}
<div class="footer">
<div class="container">
<p class="pull-right"><a href="#">Back to top</a></p>
<p class="lead">Do you want your event to be listed here?</p>
<p>Fill out <a href="{{ HOST }}/events/add/">this form</a> and we will be happy to add it.</p>
</div></div>
{% endblock %}
