{% extends "base.html" %}

{% load tags %}

{% block container-content %}
<div class="row">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="{% active request "^/academics/" %}"><a href="{{ HOST }}/academics/">All</a></li>
                            <li class="nav-header">Get Notes by Course:</li>
                            <li class="{% active request "^/academics/course/1/" %}"><a href="{{ HOST }}/academics/course/1">Computer Science</a></li>
                            <li class="{% active request "^/academics/course/2/" %}"><a href="{{ HOST }}/academics/course/2">Electronics and Communication</a></li>
                            <li class="{% active request "^/academics/course/3/" %}"><a href="{{ HOST }}/academics/course/3">Mechanical and Automation</a></li>
                            <li class="{% active request "^/academics/course/4/" %}"><a href="{{ HOST }}/academics/course/4">Civil</a></li>
                            <li class="{% active request "^/academics/course/5/" %}"><a href="{{ HOST }}/academics/course/5">Biotech</a></li>
                            <li class="nav-header">Misc:</li>
                            <li class="{% active request "^/about/$" %}"><a href="{{ HOST }}/about/">About</a></li>
                            <li class="{% active request "^/team/" %}"><a href="{{ HOST }}/team/">Team</a></li>
                            <li class="{% active request "^/contact/" %}"><a href="{{ HOST }}/contact/">Contact</a></li>
                        </ul>
                    </div>
                    <hr />
                    {% include "social.html" %}
                </div>
                <div class="span9">
                {% block content %}{% endblock %}
                </div>
            </div>
{% endblock %}

{% block footer %}
<div class="footer">
<div class="container">
<p class="pull-right"><a href="#">Back to top</a></p>
<p class="lead">Do you have notes that can help others?</p>
<p>Contact us at cdi at codesters.org and we will be happy to add them.</p>
</div></div>
{% endblock %}
