{% extends "home/events_list_base.html" %}

{% block extrahead %}
{% endblock %}

{% block title %}Upcoming College Events - CollegeDiveIn{% endblock %}

{% block page-heading %}Upcoming College Events in India{% endblock %}

{% block content %} 
    {% for event in event_list %}
    <br />
    <div class="subhero-unit">
        <h2><a href="{{ HOST }}/events/{{ event.id }}/">{{ event.name }}</a></h2><hr />
        <div class="row">
            <div class="span3">
                <img class="pull-left img-polaroid" height="100" width="150" src="{{ event.thumbnail }}" alt="{{ event.name }}" />
            </div>
            <div class="span5">
            <ul class="unstyled">
                <li>Type: {{ event.event_type }}</li>
                <li>College: {{ event.host }}</li>
                <li>Venue: {{ event.venue }}</li>
                <li>Dates: {{ event.start_date }} - {{ event.end_date }}</li>
                <li>Participation/Attend: {{event.participate }}</li>
                <li><a href="{{event.website }}">Website/Facebook Page</a></li>
            </ul>
            <a href="{{ HOST }}/events/{{ event.id }}/" class="pull-right btn btn-primary">More...</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <br />
    <div class="pager pagination-centered row">
        <ul>
            <li>
        <span class="previous">
        {% if event_list.has_previous %}
        <a href="?page={{ event_list.previous_page_number }}">Previous</a>
        {% endif %}
    </span></li>
        <li>
        <span class="next">
        {% if event_list.has_next %}
        <a href="?page={{ event_list.next_page_number }}">Next</a>
        {% endif %}
        </span></li>
    </div>
    <br />

{% endblock %}
