<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

<style>
            body {
                padding-top:40px;
            }
            header {
                background: url({{ STATIC_URL }}img/cdiheader.png);
                opacity:0.8;
            }
            header small {
                color: #000 !important;
            }
</style>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cdi.css">

        {% block extrahead %} {% endblock %}
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">CollegeDiveIn</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Clubs</a></li>
                <li><a href="#">Colleges</a></li>
                <li><a href="#">Academics</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block header-content %}    
        <header class="jumbotron subhead">
            <div class="container">
                <h1>{% block page-heading %}{% endblock page-heading %}</h1>
                <p class="lead">{% block page-heading-desc %}{% endblock page-heading-desc %}</p>
            </div>
        </header>
    {% endblock header-content %}

    <div class="container">
        {% block container-content %}
        {% endblock %}
    </div>

    <footer>
    {% block footer %}{% endblock %}
    </footer>

        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    </body>
</html>
