
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/base.css">

    {% block extras %}{% endblock %}
</head>
<body>
    <div id="main-container" class="clearfix">
        <header class="clearfix">
        <nav><ul>
            <li><a href="http://127.0.0.1:8000/">CollegeDiveIn</a></li>
            <li><a href="http://127.0.0.1:8000/events/">Events</a></li>
            <li><a href="http://127.0.0.1:8000/clubs/">Clubs</a></li>
            <li><a href="http://127.0.0.1:8000/academics/">Academics</a></li>
            </ul></nav>
        </header>
        <br />
        <br />
        <div id="sidebar">
            {% block sidebar %}
            <p>{{ welcome }}</p>
            {% endblock %}
        <br />
            <div id="social" class="clearfix">
                <ul>
                    <li><a href="http://facebook.com/collegedivein"><img src="{{ STATIC_URL }}images/facebook.png" alt="CDI Facebook Page" /></a></li>
                    <li><a href="http://blog.collegedive.in/"><img src="{{ STATIC_URL }}images/blog.png" alt="CDI Blog" /></a></li>
                    <li><a href="mailto:cdi@codesters.org"><img src="{{ STATIC_URL }}images/mail.png" alt="Mail Us" /></a></li>
                    <li><a href="http://facebook.com/collegedivein"><img src="{{ STATIC_URL }}images/facebook.png" alt="CDI Facebook Page" /></a></li>
                </ul>
            </div>
            <div id="pages" class="clearfix">
                <ul>
                    <li><a href="http://collegedive.in/about/">| about |</a></li>
                    <li><a href="http://collegedive.in/team/"> team </a></li>
                    <li><a href="http://collegedive.in/contact/">| contact |</a></li>
                </ul>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>
