{% extends "home.html" %}

{% block title %}Contact Us - CollegeDiveIn{% endblock %}
{% block page-heading %}Contact Us{% endblock %}

{% block container-content %}

<div class="row clearfix">
    <div id="about" class="span12" style="margin-top: 20px">
        <section class="hero-unit">
            <h1>Wanna talk?</h1>
            <p>connect with us on any of our social link or mail us directly. We will get back to you ASAP.</p>
            <ul>
                <li><a href="http://facebook.com/collegedivein">Facebook Page</a></li>
                <li><a href="http://blog.collegedive.in">CDI Blog</a></li>
                <li><a href="http://twitter.com/codestersgroup">Twitter Account</a></li>
                <li><a href="{{ HOST }}">Google+ page</a></li>
                <li><a href="mailto:cdi@codesters.org">Mail us at cdi@codesters.org</a></li>
            </ul>
        </section>
    </div>
</div>


{% endblock %}
