{% extends "home.html" %}

{% block title %}Team - CollegeDiveIn{% endblock %}
{% block page-heading %}Team behind CollegeDivein{% endblock %}

{% block container-content %}

<div class="row clearfix">
    <div id="about" class="span12" style="margin-top: 20px">
        <section id="karambir" class="less-padding hero-unit">
            <h1>Karambir Singh Nain</h1>
            <p>lead developer and manager</p>
            <div class="row">
                <div class="span4">
                <p>work include:</p>
                <ul>
                    <li>website development</li>
                    <li>manage the website/facebook page</li>
                    <li>data management</li>
                    <li>marketing</li>
                </ul>
                </div>
                <div class="span6 pull-right">
                    <img src="{{ dropbox }}img/slide1.jpg" height=auto width=auto alt="CollegeDiveIn about" />
                </div>
            </div>
        </section>
        <section id="mayank" class="less-padding hero-unit">
            <h1>Mayank Jain</h1>
            <p>manager and moderator</p>
            <div class="row">
                <div class="span4">
                <p>his work include:</p>
                <ul>
                    <li>adding new content</li>
                    <li>moderating and verifying existing content</li>
                    <li>promoter</li>
                    <li>website testing</li>
                </ul>
                </div>
                <div class="span6 pull-right">
                    <img src="{{ dropbox }}img/slide2.jpg" height=auto width=auto alt="CollegeDiveIn about" />
                </div>
            </div>
        </section>
        <section id="aksh" class="less-padding hero-unit">
            <h1>Aksh Vashishth</h1>
            <p>lead designer</p>
            <div class="row">
                <div class="span4">
                <p>work also include:</p>
                <ul>
                    <li>designing this website</li>
                    <li>page moderation and content creation</li>
                </ul>
                </div>
                <div class="span6 pull-right">
                    <img src="{{ dropbox }}img/slide3.jpg" height=auto width=auto alt="CollegeDiveIn about" />
                </div>
            </div>
        </section>
        <section id="mohit" class="less-padding hero-unit">
            <h1>Mohit Moudgil</h1>
            <p>moderator and promoter</p>
            <div class="row">
                <div class="span4">
                <p>other duties:</p>
                <ul>
                    <li>promotion of product</li>
                </ul>
                </div>
                <div class="span6 pull-right">
                    <img src="{{ dropbox }}img/slide1.jpg" height=auto width=auto alt="CollegeDiveIn about" />
                </div>
            </div>
        </section>
        <section id="aakash" class="less-padding hero-unit">
            <h1>Aakash Malhotra</h1>
            <p>lead photographer</p>
            <div class="row">
                <div class="span4">
                <p>part time he also does:</p>
                <ul>
                    <li>marketing of website</li>
                    <li>promotion of product</li>
                </ul>
                </div>
                <div class="span6 pull-right">
                    <img src="{{ dropbox }}img/slide2.jpg" height=auto width=auto alt="CollegeDiveIn about" />
                </div>
            </div>
        </section>

    </div>
</div>


{% endblock %}
